@use 'variables';

.movie {
    padding: 5.6vw;
    border-style: solid;
    font-family: 'VT323', monospace;
    border: solid variables.$titleColorText 2px;
    color: variables.$mainColorText;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;

    &__container__image{
        margin-right    :10px;
        height: 200px;
        width: 50%;
    }

    &__container__text{
        margin-left:10px;

        &__title{
            margin-bottom: 20px;
            color: variables.$titleColorText;
            font-weight: bold;
            font-size: 35px;
        }
    }


}